*.pyc
.*
!/.github/
!/.github/**
!/.zed/
!/.zed/**
*.egg-info/
*~
*.so
*.patch
!scc/*tester*
test.*
test[0-9].*
build/
dist/
.atomignore
commit*
profiles
.idea/
out.svg
*.AppImage
*.cpp
*.vdf
appimage/
